/* start variable  */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 /60%);
    --text-color: #777;
    --section-padding: 100px;
}
/* end variable  */
/* start global rules  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large screen  */
@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}
/* end global rules  */
/* start components  */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 60px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #333;
    bottom: -25px;
}
.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
    bottom: -32px;
}
.main-heading p {
    color: var(--text-color);
    width: 500px;
    line-height: 2;
    margin: 0 auto 100px;
    max-width: 100%;
    padding: 0 5px;
}
/* end components  */
/* start header  */
header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 98px;
}
header .container::after {
    content: '';
    position: absolute;
    background-color: #a2a2a2;
    bottom: 0px;
    height: 2px;
    width: calc(100% - 30px);
}
header .container .logo img {
    height: 40px;
}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}
header .container nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0000007a;
        z-index: 3;
        padding: 0 15px;
    }   
}
header .container nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px) {
    header .container nav ul li a {
        padding: 15px 10px; 
    }
}
header .container nav ul li a.active ,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
header .container nav .form {
    width: 40px;
    height: 30px;
    border-left: 2px solid white;
    margin-left: 30px;
    position: relative;
}
header .container nav .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* end header  */
/* start landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 70%);
}
.landing .overlay .text {
    position: absolute;
    width: 50%;
    background-color: var(--transparent-color); 
    color: white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
.landing .overlay .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .overlay .text {
        width: 100%;
    }
    .landing .overlay .text .content {
        width: 100%;
    }
}
.landing .overlay .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 25px;
}
.landing .overlay .text .content p {
    font-size: 14px;
    line-height: 2;
}
.landing .overlay .change-background {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 767px) {
    .landing .overlay .change-background {
        display: none;
    }
}
.landing .overlay .fa-angle-left {
    left: 30px;
}
.landing .overlay .fa-angle-right {
    right: 30px;
}
.landing .overlay .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 120px;
}
.landing .overlay .bullets li {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
}
.landing .overlay .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        column-gap: 30px;
        row-gap: 40px;
    }
}
.services .serv-box {
    display: flex;
}
.services .serv-box i {
    margin-right: 30px;
}
@media (max-width: 767px) {
    .services .serv-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    .services .serv-box i {
        margin: 0 0 30px;
    }
}
.services .serv-box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}
.services .serv-box p {
    line-height: 2;
    color: var(--text-color);
}
/* end services  */
/* start desgin  */
.desgin {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: blue;
    background-image: url(../images/desgin.jfif);
    background-size: cover;
    display: flex;
    height: 600px;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.desgin::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.desgin .image ,
.desgin .text {
   position: relative;
   z-index: 3;
   flex: 1;
}
.desgin .image {
    text-align: center;
}
@media (max-width: 767px) {
    .desgin .image {
        display: none;
    }
}
.desgin .image img {
    position: relative;
    bottom: -150px;
    height: 370px;
}
.desgin .text {
    right: 0;
    background-color: var(--transparent-color);
    padding: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.desgin .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.desgin .text li {
    margin: 20px 0;
}
.desgin .text li::before {
    font-family: 'font awesome 5 free';
    content: '\f108';
    font-weight: 900;
    margin-right: 15px;
}
/* end desgin  */
/* start portfolio  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}
.portfolio .shuffle li {
    margin: 0 10px;
}
.portfolio .shuffle li.active {
    color: white;
    background-color: var(--main-color);
    padding: 15px;
}
.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
}
.portfolio .images-container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .images-container .box:hover .caption {
    bottom: 0;
}
.portfolio .images-container .box:hover img {
    transform: rotate(1deg) scale(1.1);
}
@media (min-width: 768px) {
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .images-container .box {
        flex-basis: 25%;
    }
}
.portfolio .images-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .images-container .box .caption {
    position: absolute;
    left: 0;
    bottom: -100px;
    background-color: white;
    width: 100%;
    transition: 0.5s;
    padding: 10px;
}
.portfolio .images-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .images-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 15px 25px;
    display: block;
    width: fit-content;
    margin: 25px auto;
    text-transform: uppercase;
}
/* end portfolio  */
/* start video  */
.video {
    position: relative;
}
.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    width: 100%;
    text-align: center;
    color: white;
}
@media (max-width: 767px) {
    .video .text {
        padding: 25px;
    }
}
.video .text h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}
.video .text p {
    margin-bottom: 20px;
}
.video .text button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
}
/* end video  */
/* start about  */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* end about  */
/* start stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.jfif);
    background-size: cover;
    position: relative;
}
.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.stats .container {
    position: relative;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--transparent-color);
    justify-content: space-evenly;
    text-align: center;
}
.stats .container .box {
    color: white;
    margin: 25px 0;
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 25px ;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.stats .container .box p {
    font-size: 14px;
}
/* end stats */   
/* start skills  */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 992px) {
    .skills .container > div {
        flex-basis: 45%;
    }
}
.skills .container > div > h3 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.skills .container > div > p {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 60px;
    line-height: 1.8;
}
.skills .container .testimonials .box {
    display: flex;
    margin: 0 0 30px;
    align-items: center;
}
@media (max-width: 767px) {
    .skills .container .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
}
.skills .container .testimonials .box img {
    width: 80px;
    border-radius: 50%;
}
.skills .container .testimonials .box .text {
    line-height: 1.4;
    border-bottom: 1px solid #ccc;
    padding: 25px;
}
.skills .container .testimonials .box p {
    text-align: right;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 14px;
}
.skills .container .testimonials ul {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.skills .container .testimonials ul li  {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    margin: 0 5px
}
.skills .container .testimonials ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skills .container .our-skills .prog-holder {
    margin: 50px 0;
}
.skills .container .our-skills .prog-holder p {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.skills .container .our-skills .prog-holder .prog {
    background-color: #dedadc;
    height: 20px;
}
.skills .container .our-skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.skills .container .our-skills .prog-holder span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    right: -18px;
    top: -38px;
    padding: 5px;
    border-radius: 5px;
}
.skills .container .our-skills .prog-holder span::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent;
    right: -3px;
    top: -10px;
}
/* end skills  */
/* start quote  */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    text-align: center;
    color: white;
    background-image: url(../images/quote.jfif);
    background-size: cover;
}
.quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.quote .container {
    position: relative;
}
.quote .container q {
    display: block;
    margin-bottom: 35px;
    font-size: 30px;
}
/* end quote  */
/* start pricing  */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
}
.pricing .plans .box {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .box .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .box .head h3 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.pricing .plans .box .head span {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .box .head span::before {
    content: '$';
    position: relative;
    font-size: 25px;
    top: -40px;
    left: -20px;
}
.pricing .plans .box .head span::after {
    content: '/MO';
    position: relative;
    font-size: 25px;
    right: -25px;
}
.pricing .container .plans .box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .plans .box ul li {
    margin: 20px 0;
    border-bottom: 1px solid var(--main-color);
    width: 50%;
    padding: 0 0 20px;
}
.pricing .container .plans .box ul li:last-of-type {
    border-bottom: none;
    margin-bottom: 5px;
}
.pricing .container .plans .box .foot {
    border: 1px solid var(--main-color);
    padding: 20px 0;
    width: 50%;
    margin: 20px auto;
}
.pricing .container .plans .box .foot a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
.pricing .container .cont-us {
    margin: 50px 0 25px;
    text-align: center;
    text-transform: capitalize;
}
.pricing .container .cont-us + button {
    background-color: var(--main-color);
    border: none;
    padding: 20px 35px;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
    color: white;
}
/* end pricing  */
/* start subscribe  */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe);
    background-size: cover;
    position: relative;
}
.subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe .container form {
    width: 500px;
    display: flex;
    max-width: 100%;
    position: relative;
}
.subscribe .container form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.subscribe .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    border: 1px solid white;
    border-right: none;
    background: none;
    width: calc(100% - 130px);
    caret-color: var(--main-color);
}
.subscribe .container form ::placeholder {
    color: white;
}
.subscribe .container form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe .container form input[type="email"]:focus ,
.subscribe .container form input[type="submit"]:focus {
    outline: none;
}
.subscribe .container p {
    margin-left: 50px;
    line-height: 2;
    color: white;
}
@media (max-width: 991px) {
    .subscribe .container p {
        margin-top: 40px;
        text-align: center;
    }
}
/* end subscribe  */
/* start contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .contact-content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .contact-content {
        flex-direction: column;
    }
}
.contact .contact-content form {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.contact .contact-content form .main-input {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
}
.contact .contact-content form textarea {
    height: 200px;
}
.contact .contact-content form input[type="submit"] {
    width: fit-content;
    padding: 20px;
    color: white;
    background-color: var(--main-color);
    border: none;
    text-transform: uppercase;
    align-self: flex-end;
}
.contact .contact-content form .main-input:focus {
    outline: none;
}
.contact .container .contact-content form ::placeholder {
    text-transform: capitalize;
}
.contact .contact-content .text {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .contact-content .text {
        order: -1;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
}
.contact .contact-content .text .phone {
    margin-bottom: 115px;
}
@media (max-width: 767px) {
    .contact .contact-content .text .phone {
        margin-bottom: 0;
    }
}
.contact .contact-content .text h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: normal;
}
.contact .contact-content .text .phone span {
    display: block;
    color: var(--text-color);
    margin: 10px 0;
}
.contact .contact-content .text .address p {
    color: var(--text-color);
}
/* end contact  */
/* start footer  */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../images/subscribe);
    background-size: cover;
    position: relative;
}
.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
    position: relative;
    color: white;
    text-align: center;
}
.footer .container img {
    width: 120px;
    margin-bottom: 15px;
}
.footer .container p:not(.copy-right) {
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 0 auto 20px;
}
.footer .container ul {
    display: flex;
    justify-content: center;
}
.footer .container ul li {
    margin: 15px;
}
.footer .container .copy-right {
    text-transform: capitalize;
    margin-top: 60px
}
.footer .container .copy-right span {
    font-weight: bold;
    color: var(--main-color);
}
/* end footer  */